body {
	font-family: "Source Sans Pro",Arial,Helvetica,Sans-serif;
}
.form-inline .form-control {
	width: calc(100% - 75px) !important;
}

/* Verde Unipampa */
.bg-verde-unipampa {
	background-color: #009045;
}

.border-verde-unipampa {
	border-color: #009045;
}

.btn-verde-unipampa {
	color: #ffffff;
	background-color: #009045;
	border-color: #009045;
}


/* Verde Escuro Unipampa */
.btn-verde-unipampa:hover,
.btn-verde-unipampa:not(:disabled):not(.disabled):active,
.show>.btn-verde-unipampa.dropdown-toggle {
	color: #ffffff;
	background-color: #067638;
	border-color: #007032;
}


/* Verde Claro Unipampa */
.btn-verde-unipampa:not(:disabled):not(.disabled).active:focus,
.btn-verde-unipampa:not(:disabled):not(.disabled):active:focus,
.show>.btn-verde-unipampa.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(50,166,106,.5);
}


/*Dropdown Menu*/
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

/* Dropdown Submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}